{% extends "base.html.twig" %}

{% block title %}Article n°{{ article.id }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card border-primary mb-3">
        <div class="card-header text-center"><img class="img-fluid" src="{{ article.image }}" alt=""></div>
        <div class="card-body">
            <h4 class="card-title text-center">{{ article.title }}</h4>
            {{ article.content|raw }}
            <p>{{  article.createdAt|date('d/m/Y à H:i:s') }}</p>
        </div>
    </div>
    

    <hr>
    <h2 class="text-center my-2">Commentaires</h2>
    <table class="table table-light table-sm">
        <thead>
            <tr>
                <th class="col-3">Utilisateur/Date</th>
                <th class="col-9">Commentaires</th>
            </tr>
        </thead>

        <tbody>
            {% for comment in article.comments %}
                <tr>
                    <td>{{ comment.author }} <br> <small>{{ comment.createdAt|date('d/m/Y à H:i:s') }}</small></td>
                    <td>{{ comment.content }}</td>
                </tr>              
            {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}


 
  